profiles {	
    standard {	
        process {	
            withName: 'GeneratePileup' {	
                cpus = 4
                memory = 16.GB	
            }
            withName: 'IvarConsensus' {	
                cpus = 4
                memory = 16.GB	
            }
        }   
    }
    cloud {	
        process {	
            withName: 'GeneratePileup' {	
                cpus = 16
                memory = 128.GB	
            }
            withName: 'IvarConsensus' {	
                cpus = 16
                memory = 128.GB	
            }
    }
    
    }	
// Docker always true. Containers defined in each process
docker.enabled = true
}
