profiles {	
    standard {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 4	
                memory = 8.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Trimming_SE' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'fastQc_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 8
                memory = 16.GB	
            }
            withName: 'Clipping' {	
                cpus = 4
                memory = 32.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 8
                memory = 32.GB	
            }
            withName: 'lofreq' {	
                cpus = 16
                memory = 16.GB	
            }
            withName: 'annotateVariants' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'annotateVariants_Lofreq' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'varscan2' {	
                cpus = 2
                memory = 4.GB	
            }
    }
    }
    cloud {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 4	
                memory = 8.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Trimming_SE' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'fastQc_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Clipping' {	
                cpus = 4
                memory = 32.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 8
                memory = 64.GB	
            }
            withName: 'lofreq' {	
                cpus = 8
                memory = 16.GB	
            }
            withName: 'annotateVariants_Lofreq' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'varscan2' {	
                cpus = 2
                memory = 4.GB	
            }
    }
    }
    cloud_big {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 4	
                memory = 8.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Trimming_SE' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'fastQc_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Clipping' {	
                cpus = 8
                memory = 48.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 8
                memory = 64.GB	
            }
            withName: 'lofreq' {	
                cpus = 16
                memory = 16.GB	
            }
            withName: 'annotateVariants_Lofreq' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'varscan2' {	
                cpus = 2
                memory = 4.GB	
            }
    }
    }
    mac {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 8	
                memory = 16.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'Clipping' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 8
                memory = 8.GB	
            }	
            withName: 'lofreq' {	
                cpus = 2
                memory = 4.GB	
            }
    }
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
// Docker always true. Containers defined in each process
docker.enabled = true
}
