profiles {	
    standard {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 4	
                memory = 8.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'Trimming_SE' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'fastQc_SE' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 8
                memory = 16.GB	
            }
            withName: 'Clipping' {	
                cpus = 8
                memory = 16.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 4
                memory = 20.GB	
            }
            withName: 'lofreq' {	
                cpus = 4
                memory = 8.GB	
            }
    }
    }
    mac {	
        process {	
            withName: 'Trimming' {	
                cpus = 8	
                memory = 16.GB	
            }	
            withName: 'Aligning' {	
                cpus = 8	
                memory = 16.GB	
            }
            withName: 'fastQc' {	
                cpus = 4
                memory = 8.GB	
            }
            withName: 'NameSorting' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'Clipping' {	
                cpus = 2
                memory = 4.GB	
            }
            withName: 'generateConsensus' {	
                cpus = 8
                memory = 8.GB	
            }	
            withName: 'lofreq' {	
                cpus = 2
                memory = 4.GB	
            }
    }
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
// Docker always true. Containers defined in each process
docker.enabled = true
}
